<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CMS - Courses</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{{url_for('static', filename = 'vendors/typicons/typicons.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename = 'vendors/css/vendor.bundle.base.css')}}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/vertical-layout-light/style.css')}}">
  <!-- endinject -->
  <!--<link rel="shortcut icon" href="../../images/favicon.png" />-->
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="xp.jpg" alt="profile"/>
              <span class="nav-profile-name">{{ std.student_id }} </Reg></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a href="{{ url_for('logout') }}" class = "dropdown-item">
                <i class="typcn typcn-eject text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="typcn typcn-th-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close typcn typcn-times"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
    
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}" method = "get">
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{{ url_for('courses') }}" method = "get"> 
              <span class="menu-title">Courses</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{{ url_for('results') }}"  method = "get">
              <span class="menu-title">Results</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{{ url_for('attendance') }}"  method = "get">
              <span class="menu-title">Attendance</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  href="{{ url_for('info') }}"  method = "post">
              <span class="menu-title">Student Info</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            {% for c in crs %}
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">

                <div class="card-body">
                  <h4 class="card-title">{{c.course_id}} - {{c.course_name}}</h4>
                  <hr>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Course Division</th>
                          <th>Obtained Marks</th>
                          <th>Total Marks</th>
                          <th>Weightage</th>
                          <th>Submitted</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for cd in course_division %}
                        {% if cd.c_id == c.course_id %}
                        <tr>
                          <td>{{cd.cdname}}</td>
                          <td>{{cd.s_marks}}</td>
                          <td>{{cd.total_marks}}</td>
                          <td>{{cd.cd_weightage}}%</td>
                          <td>{{cd.s_submitted}}</td>
                        </tr>                        
                        {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                    <!-- content-wrapper ends -->
                  </div>
                  <!-- partial:../../partials/_footer.html -->                  
                </div>               
              </div>
            </div>
            {% endfor %}
          </div>      
        </div>
        <!-- page-body-wrapper ends -->
      </div>

  <!-- container-scroller -->
  <!-- base:js -->
  <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{{ url_for('static', filename='vendors/chart.js/Chart.min.js')}}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{{ url_for('static', filename='js/off-canvas.js')}}"></script>
  <script src="{{ url_for('static', filename='js/hoverable-collapse.js')}}"></script>
  <script src="{{ url_for('static', filename='js/template.js')}}"></script>
  <script src="{{ url_for('static', filename='js/settings.js')}}"></script>
  <script src="{{ url_for('static', filename='js/todolist.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
</body>

</html>
